{
   "endOfLine": "lf",
   "semi": false,
   "singleQuote": false,
   "tabWidth": 3,
   "printWidth": 80,

   "overrides": [
      {
         "files": ["*.html", "*.css"],
         "options": {
            "printWidth": 120
         }
      }
   ]
}
